<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Illnesses</title>
    <script>
      function toggleEdit() { let element = document.getElementById("update");
      if (element.style.display === "none") { element.style.display = "block"; }
      else { element.style.display = "none"; } }
    </script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="./index">Home</a></li>
        <li><a href="./doctors">Doctors</a></li>
        <li><a href="./patients">Patients</a></li>
        <li><a href="./patients_illnesses">Patients-Illnesses</a></li>
        <li><a href="./appointments">Appointments</a></li>
        <li><a href="./illnesses">Illnesses</a></li>
        <li><a href="./treatments">Treatments</a></li>
        <li><a href="./illnesses-treatments">Illnesses-Treatments</a></li>
      </ul>
    </nav>

    <h1>Illnesses</h1>

    <div class="search">
      <form id="search-illness" method="GET" action="/illnesses">
        <label for="input-name">Search illnesses by name: </label>
        <input
          type="text"
          name="name"
          id="input-name-search"
          placeholder="Search..."
        />
        <button type="submit">Search</button>
        <a href="/illnesses"><button>Reset</button></a>
      </form>
      
    </div>

    <div class="table-wrapper" id="all-illnesses-div">
      <p><strong>Browse Illnesses</strong></p>
      <table id="all-illnesses">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        {{#each data}}
          <tr data-value={{this.illness_id}}>
            <td>{{this.illness_id}}</td>
            <td>{{this.illness_name}}</td>
            <td>{{this.illness_description}}</td>
            {{! toggle edit: work in progress }}
            <td><a href="#" onclick="toggleEdit('{{this.illness_id}}', '{{this.illness_name}}', '{{this.illness_description}}' )"><img
                  class="edit-icon"
                  src="assets/edit-icon.png"
                /></a></td>
            <td><a
                href="#"
                onclick="showDeleteSection(`{{this.illness_id}} : {{this.illness_name}}`)"
              ><img class="delete-icon" src="assets/delete-icon.png" /></a></td>
          </tr>
        {{/each}}

      </table>
    </div>

    <div id="insert" style="display: block">
      <form id="add-illness">
        <legend><strong>Add Illness</strong></legend>
        <fieldset class="fields">
          <label> Name </label>
          <input type="text" id="inputIllnessName" />
          <label> Description </label>
          <input type="text" id="inputIllnessDescription"/>
        </fieldset>
        <input
          class="btn"
          type="submit"
          id="addIllness"
          value="Add New Illness"
        />
      </form>
    </div>
    <br />

    <div id="update" style="display: none">
      <form id="update-illness">
        <legend><strong>Update Illness</strong></legend>
        <fieldset class="fields">
          <label for="inputDoctorID">ID: </label>
          <input id="inputIllnessIDUpdate" disabled="true" class="disabledIdField">
          </input>
          <label> Name </label>
          <input type="text" id="inputIllnessNameUpdate"/>
          <label> Description </label>
          <input
            type="text"
            id="inputIllnessDescriptionUpdate"
          />
        </fieldset>
        <input
          class="btn"
          type="submit"
          id="UpdateIllness"
          value="Update Illness"
        />
        <input
          class="btn"
          type="button"
          value="Cancel"
          onclick="toggleEdit()"
        />
      </form>
    </div>

    <br />
  <div id="delete" style="display: none">
    <form id="deleteIllnessForm">
        <legend><strong>Delete Illness</strong></legend>
        <fieldset id="delete-fieldset" class="fields">
          <p>Are you sure you wish to delete the following?</p>
        </fieldset>
        <input
          class="deleteButton"
          type="submit"
          id="deleteIllness"
          value="Delete Illness"
        />
        <input
          class="btn"
          type="button"
          value="Cancel"
          onclick="hideDeleteSection()"
        />
      </form>
  </div>
  <script src="/js/delete_illness.js"></script>
  <script src="/js/add_illness.js"></script>
  <script src="/js/update_illness.js"></script>
  </body>
</html>