<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Illness-Treatments</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

<body>
  <nav>
    <ul>
      <li><a href="./index">Home</a></li>
      <li><a href="./doctors">Doctors</a></li>
      <li><a href="./patients">Patients</a></li>
      <li><a href="./patients_illnesses">Patients-Illnesses</a></li>
      <li><a href="./appointments">Appointments</a></li>
      <li><a href="./illnesses">Illnesses</a></li>
      <li><a href="./treatments">Treatments</a></li>
      <li><a href="./illnesses-treatments">Illnesses-Treatments</a></li>
      
    </ul>
  </nav>

  <h1>Illnesses-Treatments</h1>

  <div class="table-wrapper" id="all-illnesses-treatments-div">
    <p><strong>Browse Illnesses-Treatments</strong></p>
    <table id="all-illnesses-treatments">
      <tr>
        <th>Illness Treatment ID</th>
        <th>Illness ID</th>
        <th>Treatment ID</th>
        <th>Delete</th>
      </tr>
      {{#each data}}
          <tr data-value={{this.illness_treatment_id}}>
            <td>{{this.illness_treatment_id}}</td>
            <td>{{this.illness_id}}</td>
              <td>{{this.treatment_id}}</td>
            <td><a
                href="#"
                onclick="showDeleteSection(`{{this.illness_treatment_id}} with Illness ID {{this.illness_id}} and Treatment ID {{this.treatment_id}}`)"
              ><img class="delete-icon" src="assets/delete-icon.png" /></a></td>
          </tr>
        {{/each}}
      
    </table>
  </div>

  <div id="insert" style="display: block">
      <form id="add-illness-treatment">
          <legend><strong>Create IllnessTreatment</strong></legend>
            <fieldset class="fields">
              <label> Illness </label> <select id="inputIllnessId">
                  {{#each illness}}
                  <option value="{{this.illness_id}}">{{this.illness_id}}</option>
                  {{/each}}
                  </select>
              <label> Treatment </label> <select id="inputTreatmentId">
                  {{#each treatment}}
                  <option value="{{this.treatment_id}}">{{this.treatment_id}}</option>
                  {{/each}}
                  </select>
            </fieldset>
            <input class="btn" type="submit" id="addIllnessTreatment" value="Set IllnessTreatment">
            <input class="btn" type="button" value="Cancel">
    </form>
  </div>

  <br>

  <br>
     <div id="delete" style="display: none">
      <form id="deleteIllnessTreatmentForm">
        <legend><strong>Delete Illness_Treatment</strong></legend>
        <fieldset id="delete-fieldset" class="fields">
          <p>Are you sure you wish to delete the following?</p>
        </fieldset>
        <input
          class="btn"
          type="submit"
          id="deleteIllnessTreatment"
          value="Delete Illness-Treatment"
        />
        <input
          class="btn"
          type="button"
          value="Cancel"
          onclick="hideDeleteSection()"
        />
      </form>
    </div>
    <script src="/js/delete_illness_treatment.js"></script>
    <script src="/js/add_illness_treatment.js"></script>
</body>
</html>
