<html lang="en">
  <head>
    <title>Patients-Illnesses</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="./index">Home</a></li>
        <li><a href="./doctors">Doctors</a></li>
        <li><a href="./patients">Patients</a></li>
        <li><a href="./patients_illnesses">Patients-Illnesses</a></li>
        <li><a href="./appointments">Appointments</a></li>
        <li><a href="./illnesses">Illnesses</a></li>
        <li><a href="./treatments">Treatments</a></li>
        <li><a href="./illnesses-treatments">Illnesses-Treatments</a></li>
      </ul>
    </nav>

    <h1>Patients-Illnesses</h1>

    <div class="table-wrapper" id="all-patients-illnesses-div">
      <p><strong>Browse Patients-Illnesses</strong></p>
      <table id="all-patients-illnesses">
        <tr>
          <th>ID</th>
          <th>Patient ID</th>
          <th>Illness ID</th>
          <th>Delete</th>
        </tr>
        {{#each data}}
          <tr data-value={{this.patient_illness_id}}>
            <td>{{this.patient_illness_id}}</td>
            <td>{{this.patient_id}}</td>
            <td>{{this.illness_id}}</td>
            <td><a
                href="#"
                onclick="showDeleteSection(`{{this.patient_illness_id}} with Patient ID {{this.patient_id}} and Illness ID {{this.illness_id}}`)"
              ><img class="delete-icon" src="assets/delete-icon.png" /></a></td>
          </tr>
        {{/each}}

      </table>
    </div>

    <div id="insert" style="display: block">
      <form id="add-patient-illness">
        <legend><strong>Add Patient_Illness</strong></legend>
        <fieldset class="fields">
          <label> Patient ID </label>
          <select id="inputPatientId">
            <option value="0">&nbsp;</option>
            {{#each patient}}
            <option value="{{this.patient_id}}">{{this.patient_id}}</option>
            {{/each}}
          </select>
          <label> Illness ID </label>
          <select id="inputIllnessId">
            <option value="0">&nbsp;</option>
            {{#each illness}}
            <option value="{{this.illness_id}}">{{this.illness_id}}</option>
            {{/each}}
          </select>
        </fieldset>
        <input
          class="btn"
          type="submit"
          id="addPatientIllness"
          value="Add new Patient-Illness"
        />
        <input class="btn" type="button" value="Cancel" />
      </form>
    </div>

    <br />
    <div id="delete" style="display: none">
      <form id="deletePatientIllnessForm">
        <legend><strong>Delete Patient_Illness</strong></legend>
        <fieldset id="delete-fieldset" class="fields">
          <p>Are you sure you wish to delete the following?</p>
        </fieldset>
        <input
          class="btn"
          type="submit"
          id="deletePatientIllness"
          value="Delete Patient-Illness"
        />
        <input
          class="btn"
          type="button"
          value="Cancel"
          onclick="hideDeleteSection()"
        />
      </form>
    </div>
    <script src="/js/delete_patient_illness.js"></script>
    <script src="/js/add_patient_illness.js"></script>

  </body>
</html>