<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Patients</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script>
      function toggleEdit() {
        let element = document.getElementById("update");
        if (element.style.display === "none") {
          element.style.display = "block";
        } else {
          element.style.display = "none";
        }
      }
    </script>
  </head>

<body>
  <nav>
    <ul>
      <li><a href="./index">Home</a></li>
      <li><a href="./doctors">Doctors</a></li>
      <li><a href="./patients">Patients</a></li>
      <li><a href="./patients_illnesses">Patients-Illnesses</a></li>
      <li><a href="./appointments">Appointments</a></li>
      <li><a href="./illnesses">Illnesses</a></li>
      <li><a href="./treatments">Treatments</a></li>
      <li><a href="./illnesses-treatments">Illnesses-Treatments</a></li>
    </ul>
  </nav>

  <h1>Patients</h1>

  <div class="search">
    <form id="search-patient" method="GET" action="/patients">
      <label for="input-name">Search patients by name: </label>
      <input type="text" name="name" id="input-name-search" placeholder="Search...">
      <button type="submit">Search</button>
      <a href="/patients"><button>Reset</button></a>
    </form>
  </div>

  <div class="table-wrapper" id="all-patients-div">
    <p><strong>Browse All Patients</strong></p>
    <table id="all-patients">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {{#each data}}
          <tr data-value={{this.patient_id}}>
            <td>{{this.patient_id}}</td>
            <td>{{this.patient_fname}}</td>
            <td>{{this.patient_lname}}</td>
            <td>{{this.patient_age}}</td>
            <td> {{this.patient_email}}</td>
            <td> {{this.patient_phone_number}}</td>
            <td><a href="#" onclick="toggleEdit({{this.patient_id}},'{{this.patient_fname}}', '{{this.patient_lname}}', {{this.patient_age}}, '{{this.patient_email}}', '{{this.patient_phone_number}}')"><img
                  class="edit-icon"
                  src="assets/edit-icon.png"
                /></a></td>
            <td><a
                href="#"
                onclick="showDeleteSection(`{{this.patient_id}} : {{this.patient_fname}} {{this.patient_lname}}`)"
              ><img class="delete-icon" src="assets/delete-icon.png" /></a></td>
          </tr>
        {{/each}}

    </table>
  </div>

  <div id="insert" style="display: block">
      <form id="add-patient">
          <legend><strong>Add Patient</strong></legend>
            <fieldset class="fields">
              <label> First Name </label> <input type="text" id="inputPatientFname">
              <label> Last Name </label> <input type="text" id="inputPatientLname">
              <label> Age </label> <input type="text" id="inputPatientAge">
              <label> Email </label> <input type="text" id="inputPatientEmail">
              <label>Phone Number</label> <input type="text" id="inputPatientPhone">
            </fieldset>
            <input class="btn" type="submit" id="addPatient" value="Add New Patient">
    </form> 
  </div>

  <br>
  <div id="update" style="display: none">
    <form id="update-patient">
        <legend><strong>Update Patient</strong></legend>
            <fieldset class="fields">
            <label for="inputDoctorID">ID: </label>
            <input id="inputPatientIDUpdate" disabled="true" class="disabledIdField">
            </input>
            <label> First Name </label> <input type="text" id="inputPatientFnameUpdate">
            <label> Last Name </label> <input type="text" id="inputPatientLnameUpdate">
            <label> Age </label> <input type="text" id="inputPatientAgeUpdate">
            <label> Email </label> <input type="text" id="inputPatientEmailUpdate">
            <label>Phone Number</label> <input type="text" id="inputPatientPhoneUpdate">
      </fieldset>
      <input class="btn" type="submit" id="updatePatient" value="Update Patient">
            <input class="btn" type="button" value="Cancel" onclick="toggleEdit()">
    </form> 
  </div>

  <br>
  <div id="delete" style="display: none">
    <form id="deletePatientForm">
        <legend><strong>Delete Patient</strong></legend>
        <fieldset id="delete-fieldset" class="fields">
          <p>Are you sure you wish to delete the following?</p>
        </fieldset>
        <input
          class="deleteButton"
          type="submit"
          id="deletePatient"
          value="Delete Patient"
        />
        <input
          class="btn"
          type="button"
          value="Cancel"
          onclick="hideDeleteSection()"
        />
      </form>
  </div>
  <script src="/js/delete_patient.js"></script>
  <script src="/js/add_patient.js"></script>
  <script src="/js/update_patient.js"></script>
</body>
</html>
