<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script>
      function toggleEdit() {
        let element = document.getElementById("update");
        if (element.style.display === "none") {
          element.style.display = "block";
        } else {
          element.style.display = "none";
        }
      }
    </script>
    <title>Treatments</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="./index">Home</a></li>
        <li><a href="./doctors">Doctors</a></li>
        <li><a href="./patients">Patients</a></li>
        <li><a href="./patients_illnesses">Patients-Illnesses</a></li>
        <li><a href="./appointments">Appointments</a></li>
        <li><a href="./illnesses">Illnesses</a></li>
        <li><a href="./treatments">Treatments</a></li>
        <li><a href="./illnesses-treatments">Illnesses-Treatments</a></li>
      </ul>
    </nav>

    <h1>Treatments</h1>

    <div class="search">
      <form id="search-treatment" method="GET" action="/treatments">
        <label for="input-name">Search treatments by name: </label>
        <input
          type="text"
          name="name"
          id="input-name-search"
          placeholder="Search..."
        />
        <button type="submit">Search</button>
        <a href="/treatments"><button>Reset</button></a>
      </form>
      
    </div>

    <div class="table-wrapper" id="all-treatments-div">
      <p><strong>Browse Treatments</strong></p>
      <table id="all-treatments">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Stock</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        {{#each data}}
          <tr data-value={{this.treatment_id}}>
            <td>{{this.treatment_id}}</td>
            <td>{{this.treatment_name}}</td>
            <td>{{this.treatment_description}}</td>
            <td>{{this.treatment_stock}}</td>
            {{! toggle edit: work in progress }}
            <td><a href="#" onclick="toggleEdit('{{this.treatment_id}}', '{{this.treatment_name}}', '{{this.treatment_description}}', {{this.treatment_stock}})"><img
                  class="edit-icon"
                  src="assets/edit-icon.png"
                /></a></td>
            <td><a
                href="#"
                onclick="showDeleteSection(`{{this.treatment_id}} : {{this.treatment_name}}`)"
              ><img class="delete-icon" src="assets/delete-icon.png" /></a></td>
          </tr>
        {{/each}}
  
        
      </table>
    </div>

    <div id="insert" style="display: block">
      <form id="add-treatment">
        <legend><strong>Add Treatment</strong></legend>
        <fieldset class="fields">
          <label> Name </label> <input type="text" id="inputTreatmentName"/>
          <label> Description </label> <input type="text" id="inputTreatmentDescription" />
          <label> Stock </label> <input type="text" id="inputTreatmentStock" />
        </fieldset>
        <input
          class="btn"
          type="submit"
          id="addTreatment"
          value="Add New Treatment"
        />
      </form>
    </div>
    <br>

    <div id="update" style="display: none">
      <form id="update-treatment">
        <legend><strong>Update Treatment</strong></legend>
        <fieldset class="fields">
          <label for="inputTreatmentID">ID: </label>
          <input id="inputTreatmentIDUpdate" disabled="true" class="disabledIdField">
          <label> Name </label>
          <input type="text" id="inputTreatmentNameUpdate"/>
          <label> Description </label>
          <input 
            type="text"
            id="inputTreatmentDescriptionUpdate"
          />
          <label> Stock </label>
          <input type="text" id="inputTreatmentStockUpdate"/>
        </fieldset>
        <input
          class="btn"
          type="submit"
          id="UpdateSaveTreatment"
          value="Update Treatment"
        />
        <input class="btn" type="button" value="Cancel" onclick="toggleEdit()"/>
      </form>
    </div>

    <br>
   <div id="delete" style="display: none">
    <form id="deleteTreatmentForm">
        <legend><strong>Delete Treatment</strong></legend>
        <fieldset id="delete-fieldset" class="fields">
          <p>Are you sure you wish to delete the following?</p>
        </fieldset>
        <input
          class="deleteButton"
          type="submit"
          id="deleteTreatment"
          value="Delete Treatment"
        />
        <input
          class="btn"
          type="button"
          value="Cancel"
          onclick="hideDeleteSection()"
        />
      </form>
  </div>
  <script src="/js/delete_treatment.js"></script>
  <script src="/js/add_treatment.js"></script>
  <script src="/js/update_treatment.js"></script>
  </body>
</html>
